version: 2
updates:
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: daily
  target-branch: main
- package-ecosystem: nuget
  directory: /eng/dependabot
  schedule:
    interval: daily
  target-branch: main
  ignore:
  - dependency-name: Microsoft.Extensions.*
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[main] '
  groups:
    azure-storage-dependencies:
    - Azure.Storage.*
    identity-dependencies:
    - Azure.Identity
    - Microsoft.Identity.*
    - Microsoft.IdentityModel.*
- package-ecosystem: nuget
  directory: /eng/dependabot/nuget.org
  schedule:
    interval: daily
  target-branch: main
  commit-message:
    prefix: '[main] '
- package-ecosystem: nuget
  directory: /eng/dependabot/net7.0
  schedule:
    interval: daily
  target-branch: main
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[main] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/net6.0
  schedule:
    interval: daily
  target-branch: main
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[main] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/netcoreapp3.1
  schedule:
    interval: daily
  target-branch: main
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[main] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot
  schedule:
    interval: daily
  target-branch: release/7.x
  ignore:
  - dependency-name: Microsoft.Extensions.*
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.x] '
  groups:
    azure-storage-dependencies:
    - Azure.Storage.*
    identity-dependencies:
    - Azure.Identity
    - Microsoft.Identity.*
    - Microsoft.IdentityModel.*
- package-ecosystem: nuget
  directory: /eng/dependabot/nuget.org
  schedule:
    interval: daily
  target-branch: release/7.x
  commit-message:
    prefix: '[release/7.x] '
- package-ecosystem: nuget
  directory: /eng/dependabot/net7.0
  schedule:
    interval: daily
  target-branch: release/7.x
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.x] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/net6.0
  schedule:
    interval: daily
  target-branch: release/7.x
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.x] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/netcoreapp3.1
  schedule:
    interval: daily
  target-branch: release/7.x
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.x] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot
  schedule:
    interval: daily
  target-branch: release/7.2
  ignore:
  - dependency-name: Microsoft.Extensions.*
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.2] '
  groups:
    azure-storage-dependencies:
    - Azure.Storage.*
    identity-dependencies:
    - Azure.Identity
    - Microsoft.Identity.*
    - Microsoft.IdentityModel.*
- package-ecosystem: nuget
  directory: /eng/dependabot/nuget.org
  schedule:
    interval: daily
  target-branch: release/7.2
  commit-message:
    prefix: '[release/7.2] '
- package-ecosystem: nuget
  directory: /eng/dependabot/net7.0
  schedule:
    interval: daily
  target-branch: release/7.2
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.2] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/net6.0
  schedule:
    interval: daily
  target-branch: release/7.2
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.2] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/netcoreapp3.1
  schedule:
    interval: daily
  target-branch: release/7.2
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.2] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot
  schedule:
    interval: daily
  target-branch: release/7.1
  ignore:
  - dependency-name: Microsoft.Extensions.*
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.1] '
  groups:
    azure-storage-dependencies:
    - Azure.Storage.*
    identity-dependencies:
    - Azure.Identity
    - Microsoft.Identity.*
    - Microsoft.IdentityModel.*
- package-ecosystem: nuget
  directory: /eng/dependabot/nuget.org
  schedule:
    interval: daily
  target-branch: release/7.1
  commit-message:
    prefix: '[release/7.1] '
- package-ecosystem: nuget
  directory: /eng/dependabot/net7.0
  schedule:
    interval: daily
  target-branch: release/7.1
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.1] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/net6.0
  schedule:
    interval: daily
  target-branch: release/7.1
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.1] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/netcoreapp3.1
  schedule:
    interval: daily
  target-branch: release/7.1
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/7.1] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot
  schedule:
    interval: daily
  target-branch: release/6.x
  ignore:
  - dependency-name: Microsoft.Extensions.*
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/6.x] '
  groups:
    azure-storage-dependencies:
    - Azure.Storage.*
    identity-dependencies:
    - Azure.Identity
    - Microsoft.Identity.*
    - Microsoft.IdentityModel.*
- package-ecosystem: nuget
  directory: /eng/dependabot/nuget.org
  schedule:
    interval: daily
  target-branch: release/6.x
  commit-message:
    prefix: '[release/6.x] '
- package-ecosystem: nuget
  directory: /eng/dependabot/net7.0
  schedule:
    interval: daily
  target-branch: release/6.x
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/6.x] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/net6.0
  schedule:
    interval: daily
  target-branch: release/6.x
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/6.x] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
- package-ecosystem: nuget
  directory: /eng/dependabot/netcoreapp3.1
  schedule:
    interval: daily
  target-branch: release/6.x
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  commit-message:
    prefix: '[release/6.x] '
  groups:
    runtime-dependencies:
    - Microsoft.Extensions.*
    - Microsoft.NETCore.App.Runtime.*
