name: 'Add Markdown Feedback'
on:
  pull_request:
    paths: ['documentation/**.md']
    branches: ['main']

permissions:
  pull-requests: read

jobs:
  add-markdown-feedback:
    if: contains(fromJSON('["OWNER", "MEMBER", "COLLABORATOR"]'), github.event.pull_request.author_association)
    name: 'Add Markdown Feedback'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          persist-credentials: false

      - name: Get base commit for the PR
        run: |
          git fetch origin "$GITHUB_BASE_REF"
          base_sha=$(git rev-parse "origin/$GITHUB_BASE_REF")
          echo "base_sha=$base_sha" >> $GITHUB_ENV
          echo "Merging ${GITHUB_SHA} into ${GITHUB_BASE_REF}"

      - name: Get changed files
        run: |
          changed_source_files=$(git diff-tree --no-commit-id --name-only --diff-filter=d -r "$base_sha" "$GITHUB_SHA" -- documentation ':!documentation/releaseNotes/*' | { grep "**.md$" || test $? = 1; })
          echo "Files to validate: '${changed_source_files}'"
          changed_source_files=$(echo "$changed_source_files" | xargs | sed 's/ documentation/,documentation/g')
          echo "updated_files=$(echo ${changed_source_files})" >> $GITHUB_ENV

      - name: Append To File
        uses: ./.github/actions/AppendToFile
        with:
          textToSearch: 'DGDQWXH'
          textToAdd: '### Was this documentation helpful? [Share feedback](https://www.research.net/r/DGDQWXH?src={insertFileName})'
          paths: ${{ env.updated_files }}

      - name: Generate artifacts
        run: |
          mkdir -p ./pr
          cp "$GITHUB_EVENT_PATH" ./pr/pr-event.json
          git diff > ./pr/linter.diff

      - name: Upload artifacts
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
        with:
          name: pr-linter
          path: pr/
