name: 'C# linting'
on:
  pull_request:
    paths: ['src/**.cs']
    branches: ['main', 'release/*']

permissions:
  pull-requests: read

jobs:
  lint-csharp:
    name: 'C# Linting'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
        with:
          persist-credentials: false

      - name: Get base commit for the PR
        run: |
          git fetch origin "$GITHUB_BASE_REF"
          base_sha=$(git rev-parse "origin/$GITHUB_BASE_REF")
          echo "base_sha=$base_sha" >> $GITHUB_ENV
          echo "Merging ${GITHUB_SHA} into ${GITHUB_BASE_REF}"

      - name: Get changed files
        run: |
          changed_source_files=$(git diff-tree --no-commit-id --name-only -r "$base_sha" "$GITHUB_SHA" | { grep "**.cs$" || test $? = 1; })
          echo "Files to validate: '${changed_source_files}'"
          echo "updated_files=$(echo ${changed_source_files})" >> $GITHUB_ENV

      - name: Run dotnet restore
        run: ./dotnet.sh restore

      - name: Run dotnet format (whitespace)
        run: ./dotnet.sh format whitespace --no-restore --include $updated_files

      - name: Run dotnet format (style)
        run: ./dotnet.sh format style --no-restore --include $updated_files

      - name: Generate artifacts
        run: |
          mkdir -p ./pr
          cp "$GITHUB_EVENT_PATH" ./pr/pr-event.json
          echo -n "$GITHUB_EVENT_NAME" > ./pr/pr-event-name
          git diff > ./pr/linter.diff

      - name: Upload artifacts
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: pr-linter
          path: pr/
