name: 'Spellcheck'
on:
  pull_request:
    paths: ['src/**', '**/*.md']

permissions:
  pull-requests: read

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          persist-credentials: false

      - uses: streetsidesoftware/cspell-action@22e32eb3d70acf30e3fc09bd46edc1d30fb2d6db
        name: Documentation spellcheck
        if: ${{ !cancelled() }}
        with:
            files: '**/*.md'
            inline: error
            incremental_files_only: true

      - uses: streetsidesoftware/cspell-action@22e32eb3d70acf30e3fc09bd46edc1d30fb2d6db
        name: Resx spellcheck
        if: ${{ !cancelled() }}
        with:
            files: 'src/**/*.resx'
            inline: error
            incremental_files_only: true

      - uses: streetsidesoftware/cspell-action@22e32eb3d70acf30e3fc09bd46edc1d30fb2d6db
        name: Source code spellcheck
        if: ${{ !cancelled() }}
        with:
            files: 'src/**/*{.cs,.cpp,.h,.targets,.props,.*proj}'
            inline: warning
            incremental_files_only: true
            # Do not cause the gate to fail if potential typos in source code are found.
            # The signal-to-noise ratio here needs to be better understood first.
            strict: false
